body {
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
  text-align: center;
  padding: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

#moviesContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie {
  background-color: #222;
  padding: 10px;
  border-radius: 10px;
  width: 200px;
}

.movie img {
  width: 100%;
  border-radius: 8px;
}

.movie h2 {
  margin: 10px 0 5px;
}

.movie p {
  margin: 2px 0;
  font-size: 14px;
}
